<li><a target="_blank" href="https://github.com/adityasharat"><i class="fa fa-github"></i>GitHub</a></li>
<li><a target="_blank" href="https://www.linkedin.com/in/adityasharat/"><i class="fa fa-linkedin"></i>LinkedIn</a></li>
<li><a target="_blank" href="https://twitter.com/adityasharat"><i class="fa fa-twitter"></i>Twitter</a></li>
<li><a target="_blank" href="mailto:adityasharat@gmail.com"><i class="fa fa-envelope"></i>Contact</a></li>